body {
	font-family: 'lato', sans-serif;
	font-size: 12pt;
	font-weight: 300;	
	background-image: radial-gradient(circle farthest-corner at 30px 30px, #e8e9e9 , rgba(140, 172, 234, 0.4));
}

section {
	width: 800px;
	margin: auto auto;
	background-color: #e8e9e9;
	box-shadow: 0 4px 0 0 rgba(0,0,0,0.1);
}

#buttons {
	width: 106px;
	margin: 30px auto; 
}

button {
	width: 50px;
	height: 50px;
	border: 0px;
	border-radius: 25px;
	background-color: steelblue;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

button:hover {
	background-color: rgb(140, 172, 234);
}
.hidden {
	display: none;
}

.show {
	display: block;
}

.instructions {
	font-weight: 600;
	font-size: 9pt;
	text-transform: uppercase;
}

#notes {
	margin: 5px auto;
	text-align: center;
}

#tooltip {
	position: absolute;
	width: auto;
	height: auto;
	padding: 10px;
	color: #fff;
	font-size: 10pt;
	background-color: rgb(140, 172, 234);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-box-shadow: 0px 2px 0 rgba(0,0,0,0.4);
	box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.4);
	pointer-events: none;
}